@media (prefers-color-scheme: dark) {
	:root,
	.navbar,
	.navbar-brand,
	.form-control,
	.form-control:focus,
	.accordion,
	.accordion-header,
	.accordion-button,
	.accordion-button:not(.collapsed),
	.accordion-button:not(.collapsed)::after,
	.accordion-button.collapsed::after,
	.accordion-item,
	.card,
	.card-body,
	.list-group,
	.list-group-item {
		--bs-body-bg: var(--bs-dark);
		--bs-body-color: var(--bs-light);
		--bs-navbar-color: rgba(255, 255, 255, 0.55);
		--bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
		--bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
		--bs-navbar-active-color: #var(--bs-light);
		--bs-navbar-brand-color: #var(--bs-light);
		--bs-navbar-brand-hover-color: #var(--bs-light);
		--bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
		--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
		--bs-nav-link-disabled-color: var(--bs-light);
		--bs-navbar-active-color: var(--bs-light);
		--bs-link-hover-color: var(--bs-gray-dark);
		--bs-navbar-hover-color: var(--bs-gray-dark);
		--bs-accordion-color-bg: var(--bs-body-bg);
		--bs-card-cap-bg: var(--bs-body-bg);
		--bs-list-group-bg: var(--bs-body-bg);
		--bs-accordion-color: var(--bs-light);
		background-color: var(--bs-dark);
		color: var(--bs-light);
	}
}