<!DOCTYPE html>
<html lang="en">

	<head>
		<title>raker/authentication/{{.Username}}</title>
		<meta charset="utf-8">
		<meta name="author" content="AppleGamer22">
		<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="color-scheme" content="dark light">
		<meta name="format-detection" content="telephone=no">
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="white">
		<meta name="theme-color" content="#0cd1e8">
		<meta name="twitter:title" content="Raker">
		<meta name="og:title" content="Raker">
		<meta name="og:site_name" content="Raker">
		<meta name="og:type" content="website">
		<meta http-equiv="Content-Type" content="text/html">
		<!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' data:"> -->
		<link rel="apple-touch-icon" href="/assets/icons/icon-ios-192x192.png">
		<link rel="icon" type="image/x-icon" href="/assets/icons/favicon.ico">
		<!-- <link rel="manifest" href="/manifest.json"> -->
		<link href="/assets/theme.css" rel="stylesheet">
		<link rel="stylesheet" href="/assets/dark.css">
		<script defer src="/assets/bootstrap.bundle.min.js"></script>
		<style>
			/* h1, h2, h3, h4, h5, h6, label, p, a {
				word-wrap: break-word;
			}
			img, video {
				height: auto;
				max-width: 100%;
			} */
			@media (max-width: 500px) {
				button.delete, button.btn-warning {
					display: none;
				}
			}
		</style>
		{{if .Username}}
			<script>
				/**
				 * @param {boolean} signUp
				 */
				async function checkWebAuthn(signUp) {
					switch (signUp) {
						case true:
							if (window.PublicKeyCredential && PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable && PublicKeyCredential.isConditionalMediationAvailable) {
								try {
									const results = await Promise.all([
										PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable(),
										PublicKeyCredential.isConditionalMediationAvailable()
									]);
									return results.every(result => result === true);
								} catch (err) {
									console.error(err);
									alert(err);
									return false;
								}
							}
							break;
						default:
							if (window.PublicKeyCredential && PublicKeyCredential.isConditionalMediationAvailable) {
								return await PublicKeyCredential.isConditionalMediationAvailable();
							}
							break;
					}
					return false;
				}

				async function createWebAuthn() {
					try {
						if (!(await checkWebAuthn(true))) {
							alert("Platform doesn't support Passkeys...");
							return;
						}
						/** @type {PublicKeyCredentialCreationOptions} */
						const publicKey = await (await fetch("/auth/webauthn/sign_up/start")).json();
						const abortController = new AbortController();
						const credential = await navigator.credentials.create({
							publicKey,
							signal: abortController.signal
						});
						await fetch("/auth/webauthn/sign_up/finish", {
							headers: {
								"Content-Type": "application/json",
							},
							body: JSON.stringify(credential)
						});
					} catch (err) {
						console.error(err);
						alert(err);
					}
				}

				async function sendWebAuthn() {
					try {
						if (!(await checkWebAuthn(false))) {
							alert("Platform doesn't support Passkeys...");
							return;
						}
						const publicKey = await (await fetch("/auth/webauthn/sign_in/start")).json();
						const abortController = new AbortController();
						const credential = await navigator.credentials.get({
							publicKey,
							signal: abortController.signal,
							mediation: "conditional"
						});
						await fetch("/auth/webauthn/sign_in/finish", {
							headers: {
								"Content-Type": "application/json",
							},
							body: JSON.stringify(credential)
						});
					} catch (error) {
						console.error(err);
						alert(err);
					}
				}
			</script>
		{{end}}
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg">
				<div class="container-fluid">
					<a class="navbar-brand">
						<img src="/assets/icons/logo.svg" width="30" height="24" class="d-inline-block align-text-top">
						<sup>
							<span class="badge bg-secondary">{{.Version}}</span>
						</sup>
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link disabled" href="/">Authentication</a>
							</li>
							{{if .Username}}
								<li class="nav-item">
									<a class="nav-link" href="/find/instagram">Instagram Post</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/find/highlight">Instagram Highlight</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/find/story">Instagram Story</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/find/tiktok">TikTok Post</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/find/vsco">VSCO Post</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/history?{{.HistoryQuery}}">History</a>
								</li>
							{{else}}
								<li class="nav-item ">
									<a class="nav-link disabled" href="/find/instagram">Instagram Post</a>
								</li>
								<li class="nav-item">
									<a class="nav-link disabled" href="/find/highlight">Instagram Highlight</a>
								</li>
								<li class="nav-item">
									<a class="nav-link disabled" href="/find/story">Instagram Story</a>
								</li>
								<li class="nav-item">
									<a class="nav-link disabled" href="/find/tiktok">TikTok Post</a>
								</li>
								<li class="nav-item">
									<a class="nav-link disabled" href="/find/vsco">VSCO Post</a>
								</li>
								<li class="nav-item">
									<a class="nav-link disabled" href="/history">History</a>
								</li>
							{{end}}
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<main>
			{{if .Username}}
				<h4>Categories</h4>
				<div class="container">
					{{range .Categories}}
						<form method="post" action="/api/categories" class="row">
							<div class="col-auto">
								<label for="{{.}}" class="form-label">{{.}}</label>
							</div>
							<div class="col">
								<input type="text" class="form-control" id="{{.}}" name="{{.}}" value="{{.}}" placeholder="category name">
							</div>
							<div class="col-auto">
								<button type="submit" class="btn btn-warning">Save</button>
								<form method="post" action="/api/categories">
									<input type="hidden" name="{{.}}" value="DELETE">
									<button type="submit" class="btn btn-danger delete">Delete</button>
								</form>
							</div>
						</form>
						<br>
					{{end}}
					<form class="row">
						<div class="col-auto">
							<label for="new" class="form-label">New Category</label>
						</div>
						<div class="col">
							<input type="text" class="form-control" id="new" name="new" placeholder="new category name">
						</div>
						<div class="col-auto">
							<button type="submit" class="btn btn-warning">Save</button>
						</div>
					</form>
				</div>
				<h4>Update</h4>
				<form method="post" action="/api/auth/update/find/instagram">
					<div class="mb-3">
						<label for="password" class="form-label">new password</label>
						<input type="password" class="form-control" id="password" name="password" placeholder="a unique password">
					</div>
					<div class="mb-3">
						<label for="fbsr" class="form-label">FBSR</label>
						<input type="text" class="form-control" id="fbsr" name="fbsr" placeholder="FBSR cookie value" spellcheck="false">
					</div>
					<div class="mb-3">
						<label for="session" class="form-label">session ID</label>
						<input type="text" class="form-control" id="session" name="session" placeholder="session ID cookie value" spellcheck="false">
					</div>
					<div class="mb-3">
						<label for="user" class="form-label">user ID</label>
						<input type="text" class="form-control" id="user" name="user" placeholder="user ID cookie value" spellcheck="false">
					</div>
					<!-- <input type="hidden" name="type" value="update"> -->
					<button type="submit" class="btn btn-primary">Update</button>
				</form>
				<br>
				<form action="/api/auth/sign_out/find/instagram">
					<!-- <input type="hidden" name="type" value="sign-out"> -->
					<button type="submit" class="btn btn-danger">Sign-out</button>
				</form>
			{{else}}
				<h4>Sign-up</h4>
				<form method="post" action="/api/auth/sign_up/find/instagram">
					<div class="mb-3">
						<label for="username1" class="form-label">username</label>
						<input type="text" class="form-control" id="username1" name="username" placeholder="social network username" spellcheck="false">
					</div>
					<div class="mb-3">
						<label for="password1" class="form-label">password</label>
						<input type="password" class="form-control" id="password1" name="password" placeholder="a unique password">
					</div>
					<div class="mb-3">
						<label for="fbsr" class="form-label">FBSR</label>
						<input type="text" class="form-control" id="fbsr" name="fbsr" placeholder="FBSR cookie value" spellcheck="false">
					</div>
					<div class="mb-3">
						<label for="session" class="form-label">session ID</label>
						<input type="text" class="form-control" id="session" name="session" placeholder="session ID cookie value" spellcheck="false">
					</div>
					<div class="mb-3">
						<label for="user" class="form-label">user ID</label>
						<input type="text" class="form-control" id="user" name="user" placeholder="user ID cookie value" spellcheck="false">
					</div>
					<!-- <input type="hidden" name="type" value="sign-up"> -->
					<button type="submit" class="btn btn-primary">Sign-up</button>
				</form>
				<h4>Sign-in</h4>
				<form method="post" action="/api/auth/sign_in/find/instagram">
					<div class="mb-3">
						<label for="username2" class="form-label">username</label>
						<input type="text" class="form-control" id="username2" name="username" placeholder="social network username" spellcheck="false">
					</div>
					<div class="mb-3">
						<label for="password2" class="form-label">password</label>
						<input type="password" class="form-control" id="password2" name="password" placeholder="a unique password">
					</div>
					<!-- <input type="hidden" name="type" value="sign-in"> -->
					<button type="submit" class="btn btn-primary">Sign-in</button>
				</form>
			{{end}}
		</main>
		<noscript>Please enable JavaScript to continue using this application.</noscript>
	</body>

</html>