{{define "edit_categories"}}
	<div class="accordion-item">
		<h2 class="accordion-header" id="heading_categories">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_categories">
				Categories:&nbsp;<b>{{range .Categories}}
					{{.}}
				{{end}}</b>
			</button>
		</h2>
		<div id="collapse_categories" class="accordion-collapse collapse" data-bs-parent="#accordion_categories">
			<div class="accordion-body">
				<form hx-patch="/api/history?media={{.Type}}&post={{.Post}}&owner={{.Owner}}">
					{{range $category, $checked := .SelectedCategories}}
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="{{$category}}" name="{{$category}}" value="{{$category}}"{{if $checked}} checked{{end}}>
							<label class="form-check-label" for="{{$category}}">{{$category}}</label>
						</div>
					{{end}}
					<button type="submit" class="btn btn-warning">Save</button>
				</form>
			</div>
		</div>
	</div>
{{end}}