<!DOCTYPE html>
<html lang="en">

	<head>
		<title>raker/{{.Type}}/{{.Post}}</title>
		<meta charset="utf-8">
		<meta name="author" content="AppleGamer22">
		<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="color-scheme" content="dark light">
		<meta name="format-detection" content="telephone=no">
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="white">
		<meta name="theme-color" content="#0cd1e8">
		<meta name="twitter:title" content="Raker">
		<meta name="og:title" content="Raker">
		<meta name="og:site_name" content="Raker">
		<meta name="og:type" content="website">
		<meta http-equiv="Content-Type" content="text/html">
		<!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' data:"> -->
		<link rel="apple-touch-icon" href="/assets/icons/icon-ios-192x192.png">
		<link rel="icon" type="image/x-icon" href="/assets/icons/favicon.ico">
		<!-- <link rel="manifest" href="/manifest.json"> -->
		<link href="/assets/theme.css" rel="stylesheet">
		<link rel="stylesheet" href="/assets/dark.css">
		<script defer src="/assets/bootstrap.bundle.min.js"></script>
		<script defer src="/assets/htmx.min.js"></script>
		<style>
			h1, h2, h3, h4, h5, h6, label, p, a {
				word-wrap: break-word;
			}
			img, video {
				height: auto;
				max-width: 100%;
			}
			@media (max-width: 500px) {
				button.delete {
					display: none;
				}
			}
		</style>
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg">
				<div class="container-fluid">
					<a class="navbar-brand">
						<img src="/assets/icons/logo.svg" width="30" height="24" class="d-inline-block align-text-top">
						<sup>
							<span class="badge bg-secondary">{{.Version}}</span>
						</sup>
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="/">Authentication</a>
							</li>
							{{if eq .Type "instagram"}}
								<li class="nav-item">
									<a class="nav-link disabled" href="/find/instagram">Instagram Post</a>
								</li>
							{{else}}
								<li class="nav-item">
									<a class="nav-link" href="/find/instagram">Instagram Post</a>
								</li>
							{{end}}
							{{if eq .Type "highlight"}}
								<li class="nav-item">
									<a class="nav-link disabled" href="/find/highlight">Instagram Highlight</a>
								</li>
							{{else}}
								<li class="nav-item">
									<a class="nav-link" href="/find/highlight">Instagram Highlight</a>
								</li>
							{{end}}
							{{if eq .Type "story"}}
								<li class="nav-item">
									<a class="nav-link disabled" href="/find/story">Instagram Story</a>
								</li>
							{{else}}
								<li class="nav-item">
									<a class="nav-link" href="/find/story">Instagram Story</a>
								</li>
							{{end}}
							{{if eq .Type "tiktok"}}
								<li class="nav-item">
									<a class="nav-link disabled" href="/find/tiktok">TikTok Post</a>
								</li>
							{{else}}
								<li class="nav-item">
									<a class="nav-link" href="/find/tiktok">TikTok Post</a>
								</li>
							{{end}}
							{{if eq .Type "vsco"}}
								<li class="nav-item">
									<a class="nav-link disabled" href="/find/vsco">VSCO Post</a>
								</li>
							{{else}}
								<li class="nav-item">
									<a class="nav-link" href="/find/vsco">VSCO Post</a>
								</li>
							{{end}}
							<li class="nav-item">
								<a class="nav-link" href="/history?{{.HistoryQuery}}">History</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<main>
			<form hx-get="/find/{{.Type}}/htmx" hx-target="#result">
				{{if eq .Type "instagram"}}
					{{if .Owner}}
						<div class="mb-3">
							<label class="form-label">owner</label>
							<input type="text" value="{{.Owner}}" class="form-control" disabled>
						</div>
					{{end}}
					<div class="mb-3">
						<label for="post" class="form-label">post ID</label>
						<input type="text" value="{{.Post}}" class="form-control" id="post" name="post" placeholder="https://www.instagram.com/p/ID" spellcheck="false">
					</div>
					<ul class="list-group">
						<li class="list-group-item">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" name="incognito" value="incognito" id="incognito"{{if .Incognito}} checked{{end}}>
								<label class="form-check-label" for="incognito">Incognito</label>
							</div>
						</li>
					</ul>
				{{end}}
				{{if eq .Type "highlight"}}
					{{if .Owner}}
						<div class="mb-3">
							<label class="form-label">owner</label>
							<input type="text" value="{{.Owner}}" class="form-control" disabled>
						</div>
					{{end}}
					<div class="mb-3">
						<label for="post" class="form-label">highlight ID</label>
						<input type="text" value="{{.Post}}" class="form-control" id="post" name="post" placeholder="https://www.instagram.com/stories/find/highlights/ID" spellcheck="false">
					</div>
				{{end}}
				{{if eq .Type "story"}}
					{{if .Post}}
						<div class="mb-3">
							<label for="id" class="form-label">history ID</label>
							<input type="text" value="{{.Post}}" class="form-control" id="id" name="post" disabled>
						</div>
					{{end}}
					<div class="mb-3">
						<label for="owner" class="form-label">owner</label>
						<input type="text" value="{{.Owner}}" class="form-control" id="owner" name="owner" placeholder="https://www.instagram.com/stories/OWNER" spellcheck="false">
					</div>
				{{end}}
				{{if eq .Type "tiktok"}}
					<div class="mb-3">
						<label for="owner" class="form-label">owner</label>
						<input type="text" value="{{.Owner}}" class="form-control" id="owner" name="owner" placeholder="https://tiktok.com/@OWNER/video/id" spellcheck="false">
					</div>
					<div class="mb-3">
						<label for="post" class="form-label">post ID</label>
						<input type="text" value="{{.Post}}" class="form-control" id="post" name="post" placeholder="https://tiktok.com/@owner/video/ID" spellcheck="false">
					</div>
					<ul class="list-group">
						<li class="list-group-item">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="incognito" id="incognito">
								<label class="form-check-label" for="incognito">Incognito</label>
							</div>
						</li>
					</ul>
				{{end}}
				{{if eq .Type "vsco"}}
					<div class="mb-3">
						<label for="owner" class="form-label">owner</label>
						<input type="text" value="{{.Owner}}" class="form-control" id="owner" name="owner" placeholder="https://vsco.co/OWNER/media/id" spellcheck="false">
					</div>
					<div class="mb-3">
						<label for="post" class="form-label">post ID</label>
						<input type="text" value="{{.Post}}" class="form-control" id="post" name="post" placeholder="https://vsco.co/owner/media/ID" spellcheck="false">
					</div>
				{{end}}
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
			<section id="result">
				{{template "history_result.html" .}}
			</section>
		</main>
		<noscript>Please enable JavaScript to continue using this application.</noscript>
	</body>
</html>